<!DOCTYPE html><html>
    <head>
        <title>Secondary</title>
    </head>
    <style>
        body{
            font-family:sans-serif;

        }
        div {
            margin: 0 auto;
            padding: 24px 48px;
            background: lightblue;
            border-radius: 16px;
            max-width: 45vw;
        }
        button {
            padding: 8px;
            width: 95px;
            color: white;
            background: black;
            border-radius: 20px;
        }
        input {
            height: 33px;
        }
    </style>
    <body>
        <div>
        <h3>Your ID: <span id="ws-id"></span></h3>
        <button id="get-log" name="getLog" onclick="getLog()"> Get Log</button>
        <ul id='messages'>
            <li id = 'message_list'></li>
        </ul>
        <script>
            var client_id = Date.now()
            document.querySelector("#ws-id").textContent = client_id;
            var ws = new WebSocket(`ws://{{uri}}/ws/${client_id}`);
            ws.onmessage = function(event) {
                   var content = document.createTextNode(event.data)
                    var current_list = document.getElementById('message_list')
                    var new_list = document.createElement('li')
                    new_list.setAttribute('id', 'message_list')
                    new_list.appendChild(content)
                    current_list.replaceWith(new_list)
            };
            function getLog(event) {
                var button = document.getElementById("get-log")
                ws.send(button.name)
            }
        </script>
            </div>
    </body>
</html>